# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# ML model files
*.pkl
*.h5
model/
module2_ml/model/

# Database files
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Environment variables
.env